<div class="row no-gutter">
  <div class="col-md-3 full-height">
    <div class="content-description">
      <div class="logo"><%= image_tag("logo.png") %></div>
      <h1 class="title">Retórica Parlamentar<sup>beta</sup></h1>
      <div class="description">
        <div class="info">
          <h3 class="name"></h3>
          <p class="part"></p>
          <p class="email"></p>
          <a href="http://www.mozilla.com/" target="_blank" class="site"></a>
        </div>
        <div class="row temas">
          <h3>Temas</h3>
          <div class="col-md-6" id="col_1">
          </div>
          <div class="col-md-6" id="col_2">
          </div>
        </div>
        <div class="row sobre">
          <h3>Sobre o Retórica Parlamentar</h3>
          <p class="detail">
          O Laboratório Hacker, em parceria com o Departamento de Taquigrafia, Revisão e Redação e o Centro de Informática, lança o Aplicativo Retórica Parlamentar, ideia concebida na 1ª Maratona Hacker promovida pela Câmara dos Deputados e desenvolvida durante o ano de 2014, a partir do acesso direto e livre de dados abertos.
          <br />
          <br />
          O APP, espaço de divulgação de discursos parlamentar, busca promover a transparência do mandato e fornecer subsídios para o controle social com a divulgação dos temas mais debatidos em Plenário na 54ª Legislatura – 2011 a 2015.
          <br />
          <br />
          O Retórica é um projeto experimental de software livre, de caráter interativo entre a Câmara e a sociedade.
          <br />
          <br />
          Este projeto faz uso do <a href="http://www.r-project.org">software R</a> e das bibliotecas <a href="http://d3js.org">d3.js</a> e <a href="http://lodash.com">lodash.js</a></p>
          </p>
        </div>
        <div class="intro">
          <p class="headline">Visualização da ênfase por <a id="temas" class="in-link" href="#">temas</a> dos deputados brasileiros durante seus discursos.</p>
          <p class="detail">Dos mais de 84 mil discursos proferidos por deputados levantamos os 70 principais temas e quais os deputados mais relacionados com cada um deles.</p>
        </div>
      </div>
    </div>
  </div>
</div>
