<div class="loading">
  <div class="signal">
  </div>
</div>    
<div class="popover"><span class="nome">ABELARDO CAMARINHA</span>
  <div class="partido">PSB / SP</div>
  <div class="tick"></div>
</div>
<div class="popover2"><span class="nome">ABELARDO CAMARINHA</span>
  <div class="tick"></div>
</div>
<div>
  <div class="content-description">
    <h1 class="title">Retórica Parlamentar</h1>  
    <div class="description">
      <div class="info">
        <h3 class="name"></h3>
        <p class="part"></p>
        <p class="email"></p>
        <a href="http://www.mozilla.com/" target="_blank" class="site"></a>
      </div>
      <div class="intro">
        <p class="headline">Visualização da ênfase temática dos deputados brasileiros durante seus discursos.</p>
        <p class="detail">Dos mais de 84 mil discursos proferidos por deputados levantamos os 70 principais temas e quais os deputados mais relacionados com cada um deles.</p>
      </div>
      <div class="input-group margin-bottom-sm busca">
        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
        <input class="typeahead" type="text" placeholder="Buscar">
      </div>
    </div>
  </div>
  <div id="triangle">

  </div>
  <svg id="main">
  </svg>

  <div class="foot">
    <p>Análise estatística e temática dos discursos feita por <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4220296U3">Davi Moreira</a> e <a href="https://sites.google.com/site/galdinomcz/">Manoel Galdino</a>. Visualização dos dados por <a href="http://luiscarli.com">Luis Carli</a>. e pela equipe do Laboratório Hacker da Câmara dos Deputados</p>
    <p>Esse projeto faz uso do <a href="http://www.r-project.org">software R</a> e das bibliotecas <a href="http://d3js.org">d3.js</a> e <a href="http://lodash.com">lodash.js</a></p>
  </div>
</div>

<script type="text/javascript">
  doTheThing("<%= dashboard_url(:id => @dashboard.id, :format => :json) %>");
</script>
