/*grid*/
.ibx-grid { height: auto; }
.ibx-grid  table {float: left; }
.ibx-grid .top .datatable_name { display: none; }
.ibx-grid .top .datatable_new { float: left; width: 50%; }
.ibx-grid .top .datatable_new a{ float: left !important; }
.ibx-grid .top .dataTables_filter { float: left; width: 50%; text-align: right; }


.ibx-grid table thead tr th { padding: 10px; }
.ibx-grid table tbody tr td { padding: 10px; }
.ibx-grid table tbody tr td img { display: inherit;width: auto !important; max-height: 20px; }
.ibx-grid table thead tr th {  background-color: #124872; color: white; text-align: left; text-transform: uppercase; font-size: 12px; }
.ibx-grid table tbody tr { background-color: #F6F9FC; }
.ibx-grid table tbody tr.even { background-color: #ECF2F8; }
.ibx-grid table tbody tr td:last-child { text-align: center; }

.ibx-grid .dataTables_filter label input { width: 250px; border: 1px solid #2F6CB5; background-image: url("../assets/search.jpg"); background-repeat: no-repeat; background-position: top right; padding: 5px 40px 5px 5px; webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;  }
.ibx-grid .datatable_new .add_new, button { width: auto; display: inline-block; background-color: #2F6CB5; padding: 6px 20px; color: white; border: none; }
button.back { background-color: #ef4040; }

.ibx-grid .bottom { margin: 10px 0px 20px 0px; }
.ibx-grid .bottom .dataTables_paginate { text-align: right; }
.ibx-grid .bottom .dataTables_paginate a { cursor: pointer; width: auto; display: inline-block; background-color: #2F6CB5; padding: 2px 6px 0px 6px; color: white; border: none; font-size: 11px; margin: 0px 2px; }
.ibx-grid .bottom .dataTables_paginate a:hover { background-color: #094C92; }
.ibx-grid .bottom .dataTables_paginate span a.ui-state-disabled { background-color: #094C92; }