/*
#"<--- Copyright 2013 de Retórica/Davi Moreira, Luis Carli e Manoel Galdino 
# Este arquivo é parte do programa Retorica. 
# O Retorica é um software livre; você pode redistribuí-lo e/ou modificá-lo dentro 
# dos termos da [GNU General Public License OU GNU Affero General Public License] 
# como publicada pela Fundação do Software Livre (FSF); na versão 3 da Licença.
# Este programa é distribuído na esperança que possa ser útil, mas SEM NENHUMA GARANTIA; 
# sem uma garantia implícita de ADEQUAÇÃO a qualquer MERCADO ou APLICAÇÃO EM PARTICULAR. 
# Veja a licença para maiores detalhes. Você deve ter recebido uma cópia da 
# [GNU General Public License OU GNU Affero General Public License], sob o título "LICENCA.txt"
*/

@import 'bootstrap';

$l_color : #97debe;
$d_bg : #05504c;
$bg : #409f89;

html, body {
  font-family: 'Oswald';
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  background-color: $bg;
}

svg {
  position: relative;
  z-index: 2;
  background: transparent;
}

.content-description {
  position: relative;
  z-index: 3;
  color: $l_color;
}

#triangle {
  width: 0;
  height: 0;
  border-top: 600px solid $d_bg;
  border-right: 600px solid transparent;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 5;
}

.depG {
  /*display: none;*/
}

svg {
}

.container {
  /*width: 1200px;*/
  margin: 0px;
}

.title {
  color: #dea62c;
  font-size: 30px;
  font-weight: 400px;
  position: absolute;
  margin-left: 40px;
  margin-top: 55px;
}

.description2 {
  opacity: 0;
}

.description, .description2 {
  position: absolute;
  margin-left: 40px;
  top: 105px;
  width: 300px;
  line-height: 20px;
}

.description .headline, .description2 .headline {
  font-size: 16px;
  line-height: 22px;
}

.description .detail, .description2 .detail, .description .site, .description2 .site, .description .email, .description2 .email {
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.description .site, .description2 .site {
  margin-top: 5px;
}

.description span.nome, .description2 span.nome {
  font-weight: 600px;
}

.description span.partido, .description2 span.partido {
  margin-left: 16px;
  color: #262626;
}

.inputContainer {
  display: none;
  position: absolute;
  margin-left: 850px;
  top: 60px;
  width: 200px;
}

.foot {
  position: absolute;
  top: 850px;
  margin-left: 40px;
  margin-bottom: 80px;
  width: 300px;
}

.topicCircle {
  stroke: white;
  fill-opacity: 1;
  stroke-width: 4px;
/*  &:hover {
    fill: white !important;
    fill-opacity: .3;
  }*/
}

.depCircle {
  fill: #000000;
  stroke: black;
  stroke-width: 0;
  fill-opacity: .2;
}

text {
  pointer-events: none;
}

.depImage {
  opacity: 0;
  display: none;
}

.popover, .popover2 {
  opacity: 0;
  pointer-events: none;
  font-size: 10px;
  color: white;
  background: black;
  position: absolute;
  z-index: 3;
  padding: 9px;
  left: 20px;
  top: 20px;
}

.popover .nome, .popover2 .nome {
  text-decoration: lowercase;
  font-weight: 600;
}

.popover .partido, .popover2 .partido {
  margin-top: 4px;
  text-align: center;
  color: #d9d9d9;
}

.popover .tick, .popover2 .tick {
  position: absolute;
  left: 90px;
  top: -7px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #000000;
}

.typeahead, .tt-query, .tt-hint {
  width: 260px;
  height: 18px;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 20px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
  &:focus {
    border: 2px solid #0097cf;
  }
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999999;
}

.tt-dropdown-menu {
  width: 287px;
  margin-top: 6px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 13px;
  line-height: 18px;
  &.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;
  }
  p {
    margin: 0;
  }
}

.gist {
  font-size: 14px;
}