<h1>Listing discursos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @discursos.each do |discurso| %>
      <tr>
        <td><%= link_to 'Show', discurso %></td>
        <td><%= link_to 'Edit', edit_discurso_path(discurso) %></td>
        <td><%= link_to 'Destroy', discurso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Discurso', new_discurso_path %>
